<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <!-- 启用注解支持， 扫描org.aaa.web.service,org.aaa.web.controller下及其子包下所有的  spring ioc的注解，
     spring容器时会创建spring所管理的对象 -->
    <context:component-scan base-package="org.aaa.web.service,org.aaa.web.controller"></context:component-scan>
   	
   	<!--加载数据配置文件 -->
   	<context:property-placeholder location="classpath:database.properties"/>
   	
   	<!-- 数据源 -->
   	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
	    <property name="driverClassName" value="${driver}"/>
	    <property name="url" value="${url}"/>
	    <property name="username" value="${userStr}"/>
	    <property name="password" value="${password}"/>
	</bean>
   	
   	
   	<!-- 配置sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	    <!-- 数据库连接池 -->
	    <property name="dataSource" ref="dataSource"/>
	    <!-- 加载Mybatis全局配置文件 -->
	    <property name="configLocation" value="classpath:mybatis-config.xml"/>
	    
	    <!-- 当mybatis的xml文件和mapper接口不在相同包下时，需要用mapperLocations属性指定xml文件的路径。  
         *是个通配符，代表所有的文件，**代表所有目录下 
         <property name="mapperLocations" value="classpath:mappers/*.xml" /> 
         -->
	</bean>
    
    <!-- 配置mapper扫描器
    	作用： 自动创建Mapper接口实现类，并交由spring管理
    	创建bean的id默认为 类名首字母小写
    	UserMapper  ======  userMapper的对象
     -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    <!-- 扫描包路径， -->
	    <property name="basePackage" value="org.aaa.web.dao"></property>
	</bean>
	
	<!-- mybatis事务管理用spring的 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <!-- 配置数据源 -->
	    <property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 通知 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- 传播行为 -->
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    
	<!-- 配置切面与切入点关联 -->    
    <aop:config>
    	<aop:advisor advice-ref="txAdvice" pointcut="execution(* ora.aaa.web.service..*.*(..))"/>
    </aop:config>
</beans>